hr {
  width: 100%;
  border: 2px solid green;
  border-radius: 6px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 1rem;
}

.feedback {
  font-weight: 500;
}

.star {
  background: lightgrey;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-left: 2px;
  transition: transform 0.1s;
}

.star:hover {
  transform: scale(1.2);
}

.star:focus {
  transform: scale(1.2);
}

.rating-root {
  cursor: pointer;
  display: flex;
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.star-filled {
  background: orange;
}
