.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 1rem;
  width: 200px;
}

.feedback {
  font-weight: 500;
}

.ratingRoot {
  display: flex;
  align-items: center;
}

.star {
  height: 2em;
  width: 2em;
  cursor: pointer;
}
